a {
  color: #008000 !important;
  font-weight: 700;
}

body {
  background: #000000 !important;
}

button {
  background-color: #008000;
  color: #000000;
  font-weight: 700;
}

h1 {
  color: #ffffff;
}

h3 {
  color: #ffffff;
}

img {
  width: 300px;
  height: 300px;
}

input {
  font-weight: 700;
}

label {
  color: #ffffff;
  font-weight: 700;
}

ol {
  color:#ffffff;
  font-size: x-large;
}

p {
  color: #ffffff;
  font-weight: 700;
}