@{
  Layout = "_Layout";
}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Music Organizer</title>
  </head>
  <div class="container">
    <body>
      <h1>Add an artist</h1>
      <form action="/artists" method="post">
        <label for="artistName">Artist name:</label>
        <input id="artistName" name="artistName" type="text" placeholder="Enter artist name">
        <button type="submit">Add</button>
      </form>
      <br>
      <p><a href="/">Return to home</a></p>
      <p><a href="/artists">Return to artists list</a></p>
    </body>
  </div>
</html>