@{
  Layout = "_Layout";
}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Music Organizer</title>
  </head>
  <div class="container">
    <body>
      <h1>Add a new album for @Model.Name</h1>
      <form action="/artists/@Model.Id/records" method="post">
        <input id="artistId" name="artistId" type="hidden" value="@Model.Id">
        <label for="recordTitle">Album Title:</label>
        <input id="recordTitle" name="recordTitle" type="text" placeholder="Enter title here">
        <br>
        <br>
        <label for="recordArtwork">Album Artwork:</label>
        <input id="recordArtwork" name="recordArtwork" type="text" placeholder="Enter artwork URL here">
        <br>
        <br>
        <button type="submit">Add Album</button>
      </form>
    </body>
  </div>
</html>